i {
  color:rgb(238, 203, 89);
}

.productivity-nav {
  background:rgb(238, 203, 89);
}

.form-group {
  margin: 10px;
}

.submit-button {
  margin: 10px;
}

.pricing {
  margin-bottom: 30px;
}

.prices {
  padding-bottom: 50px;
}